html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  height: 60px;
  border-bottom: 1px solid rgba(44, 44, 44, .2);

  margin: 0;

  background-color: white;
  z-index: -1;
}

.header--bg-image {
  background: url('../img/elena_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
  height: 215px;
}

@media screen and (min-width: 360px) {
  .header--bg-image {
    height: 235px;
  }  
}

@media screen and (min-width: 375px) {
  .header--bg-image {
    height: 240px;
  }  
}

@media screen and (min-width: 414px) {
  .header--bg-image {
    height: 270px;
  }  
}

.header__title {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  padding-top: 20px;
  
  text-align: center;
  color: #444;  
}

.main {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;  
}

.main--center {
  justify-content: center;
}

.main--absolute {
  position: absolute;
  left: 0;
  top: 0;
}

.main__image-container {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.main__image {
  width: 280px;
  height: 280px;
  object-fit: contain;
  border-radius: 50%;
}

@media screen and (min-width: 360px) {
  .main__image {
    width: 320px;
    height: 320px;
  }  
}

@media screen and (min-width: 375px) {
  .main__image {
    width: 335px;
    height: 335px;
  }  
}

@media screen and (min-width: 414px) {
  .main__image {
    width: 375px;
    height: 375px;
  }  
}

.main__title {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  padding-top: 20px;
  
  text-align: center;
  color: #444; 
}

.main__subtitle {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  color: #444;
}

.contacts {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contacts__item {
  margin: 0 5px;
  border-radius: 50%;
  background-color: #444;
  color: white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contacts__icon {
  width: 20px;
  height: 20px;
}

.main__text {
  color: #444;
  padding: 10px 20px;
}

.main__text--center {
  text-align: center;
}

.main__separator {
  height: 200px;
  background: url('../img/elena_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.main__center {
  margin-top: 40px;
  text-align: center;
}

.main__button {
  background-color: #1e97cb!important;
  border-color: #1e97cb!important;
  color: #fff;
  margin: .25rem .25rem!important;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  width: 100%;

  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid rgba(44, 44, 44, .2);
}

.footer--absolute {
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__informer {
  padding-left: 20px;

  display: inline-block;
}

.footer__made-by-roscomputing {
  box-sizing: border-box;
  padding-top: 15px;

  height: 50px;
  width: 100%;
  font-style: italic;
  text-align: right;

  padding-right: 20px;

  color: #444;

  display: inline-block;
}