html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background__cover {
  background-image: url('../img/elena_bg.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
}

.background__cover--margo {
  background-image: url('../img/margo_bg.jpg');
}

.background__cover--serge {
  background-image: url('../img/serge_bg.jpg');
}

.background__cover--irina {
  background-image: url('../img/irina_bg.jpg');
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;

  height: 60px;

  margin: 0;
}

.header--large-height {
  position: initial;
  height: 200px;
}

.header__title {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  padding-top: 20px;
  
  text-align: center;
  color: #444;  
}

.main {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;  
}

.main__bg {
  background-color: white;
}

.main--center {
  justify-content: center;
}

.main--absolute {
  position: absolute;
  left: 0;
  top: 0;
}

.main__image-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.main__image-bg {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 140px;
  left: 0;
  bottom: 0;
}

@media screen and (min-width: 360px) {
  .main__image-bg {
    height: 160px;
  }  
}

@media screen and (min-width: 375px) {
  .main__image-bg {
    height: 168px;
  }  
}

@media screen and (min-width: 414px) {
  .main__image-bg {
    height: 188px;
  }  
}

.main__image {
  z-index: 1;
  width: 280px;
  height: 280px;
  object-fit: contain;
  border-radius: 50%;
}

@media screen and (min-width: 360px) {
  .main__image {
    width: 320px;
    height: 320px;
  }  
}

@media screen and (min-width: 375px) {
  .main__image {
    width: 335px;
    height: 335px;
  }  
}

@media screen and (min-width: 414px) {
  .main__image {
    width: 375px;
    height: 375px;
  }  
}

.main__title {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  padding-top: 20px;
  
  text-align: center;
  color: #444; 
}

.main__subtitle {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  color: #444;
}

.contacts {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contacts__item {
  margin: 0 5px;
  border-radius: 50%;
  background-color: #444;
  color: white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contacts__icon {
  width: 20px;
  height: 20px;
}

.main__text {
  color: #444;
  padding: 0 20px;
  margin: 0;
}

.main__text--center {
  text-align: center;
}

.main__text--pt {
  padding-top: 20px;
}

.main__text--pt-3 {
  padding-top: 30px;
}

.main__text--pb {
  padding-bottom: 20px;
}

.main__text--pb-3 {
  padding-bottom: 30px;
}

.main__separator {
  height: 260px;
}

.main__separator-blur {
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
}

.main__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main__list-item {
  color: #444;
  padding: 5px 20px;
  margin: 0;
  font-size: 16px;
  text-align: center;
}

.main__center {
  padding: 30px 0 40px;
  text-align: center;
  margin: 0;
}

.main__button {
  background-color: #1e97cb!important;
  border-color: #1e97cb!important;
  color: #fff;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
  touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  width: 100%;

  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid rgba(44, 44, 44, .2);
}

.footer__bg {
  background-color: white;
}

.footer--absolute {
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__informer {
  padding-left: 20px;

  display: inline-block;
}

.footer__made-by-roscomputing {
  box-sizing: border-box;
  padding-top: 15px;

  height: 50px;
  width: 100%;
  font-style: italic;
  text-align: right;

  padding-right: 20px;

  color: #444;

  display: inline-block;
}